<h1>Visualizar posiciones</h1>

<%= hidden_field(:posiciones, :id) %>

<% if @listado.present? %>

<%= link_to "Buscar por buque", obtener_nombre_de_buques_posiciones_path(@posiciones), :remote => true, :class => "buscar_buque" %>

<div id="eliminar_filtro">
  <%= link_to "Eliminar filtro", visualizar_posiciones_path(@posiciones) %>
</div>

<div id="buques">
</div>

<div id="tabla">
 <%= render 'tabla' %>
</div>

<p> <%= will_paginate @listado %> </p>
<% else %>
  <p>No hay registros para mostrar</p>
<% end %>

<%= link_to "Volver", posiciones_index_path %>